*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f6f8;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 30px auto;
}

h2 {
    margin-bottom: 15px;
    color: #333;
}

/* COMO FUNCIONA */
.funciona {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.box {
    flex: 1;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.box span {
    font-size: 28px;
    display: block;
    margin-bottom: 10px;
}

.box p {
    font-weight: bold;
}
